<!--
  Generated template for the MusicDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{musicDetails.name}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goToFavouritePage()">
        <ion-icon name="ios-heart-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>
    <img [src]="musicDetails.image">
    <!-- <ion-row>
      <ion-col>
        <div>1 of 2</div>
      </ion-col>
      <ion-col>
        <div>2 of 2</div>
      </ion-col>
    </ion-row> -->

    <ion-buttons start *ngIf="!isMusicPlayed">
      <button ion-button icon-only clear full (click)="playMusic()">
        <ion-icon ios="ios-play" md="md-play"></ion-icon>
      </button>
    </ion-buttons>
    <ion-grid *ngIf="isMusicPlayed">
      <ion-row>
        <ion-col>
          <button ion-button icon-only clear full (click)="stopMusic()">
            <ion-icon name="square"></ion-icon>
          </button>
        </ion-col>
        <ion-col *ngIf="isMusicInPause">
          <button ion-button icon-only clear full (click)="playMusic()">
            <ion-icon name="play"></ion-icon>
          </button>
        </ion-col>
        <ion-col *ngIf="!isMusicInPause">
          <button ion-button icon-only clear full (click)="pauseMusic()">
            <ion-icon name="pause"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>


  </ion-card>
  <ion-card>
    <ion-card-header>
      Description
    </ion-card-header>
    <ion-card-content>
      {{musicDetails.description}}
    </ion-card-content>

    <ion-card-header>
      Extra Information
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        Duration
        <ion-badge item-right>
          {{musicDetails.duration}}
        </ion-badge>

      </ion-item>
      <ion-item>
        Created By
        <ion-badge item-right>
          {{musicDetails.created_by}}
        </ion-badge>
      </ion-item>

    </ion-card-content>

  </ion-card>
  <ion-card>
    <button ion-button clear full (click)="addToFavourite($event)">Add to Favourite </button>
  </ion-card>
</ion-content>